<!-- Search -->
<div class="relative m-2">
  <i
    class="fa-solid fa-magnifying-glass text-gray-600 absolute left-4 top-1/2 -translate-y-1/2"
  ></i>
  <input
    type="text"
    class="w-full bg-gray-200 dark:bg-dim-400 border-gray-200 dark:border-dim-400 text-gray-100 focus:outline-none font-normal h-9 pl-12 text-sm rounded-full"
    placeholder="Search "
  />
</div>
<div class="bg-gray-50 dark:bg-dim-700 rounded-2xl m-2">
  <h3
    class="text-gray-900 dark:text-white font-bold px-3 py-2 border-b border-gray-200 dark:border-dim-200"
  >
    What’s happening
  </h3>
  <div class="px-3 py-2 border-b border-gray-200 dark:border-dim-200">
    <h4 class="font-bold text-gray-800 dark:text-white">#Palestine</h4>
    <p class="text-xs text-gray-400">29.7K Tweets</p>
  </div>
  <div class="px-3 py-2 border-b border-gray-200 dark:border-dim-200">
    <h4 class="font-bold text-gray-800 dark:text-white">#CR7</h4>
    <p class="text-xs text-gray-400">25.5K Tweets</p>
  </div>
  <div class="px-3 py-2 border-b border-gray-200 dark:border-dim-200">
    <h4 class="font-bold text-gray-800 dark:text-white">#oscars</h4>
    <p class="text-xs text-gray-400">19.2K Tweets</p>
  </div>
  <div class="text-blue-400 px-3 py-2 cursor-pointer">Show more</div>
</div>
<!-- suggestions  -->
<div class="bg-gray-50 dark:bg-dim-700 rounded-2xl m-2">
  <h3
    class="text-gray-900 dark:text-white font-bold px-3 py-2 border-b border-gray-200 dark:border-dim-200"
  >
    Who to follow
  </h3>
  <div
    class="px-5 py-2 border-b border-gray-200 dark:border-dim-200 flex justify-between items-center"
  >
    <div class="flex">
      <img
        class="w-10 h-10 rounded-full object-cover"
        loading="lazy"
        src="../../assets/team2.jpg"
      />
      <div class="ml-2 text-sm">
        <h5 class="text-gray-900 dark:text-white font-bold">Bahaa Aamer</h5>
        <p class="text-gray-400">bahaa_aamer</p>
      </div>
    </div>
    <a
      href="#"
      class="text-xs font-bold text-blue-400 px-4 py-1 rounded-full border-2 border-blue-400 hover:text-white hover:bg-blue-400"
      >Follow</a
    >
  </div>
  <div
    class="px-5 py-2 border-b border-gray-200 dark:border-dim-200 flex justify-between items-center"
  >
    <div class="flex">
      <img
        class="w-10 h-10 rounded-full object-cover"
        loading="lazy"
        src="../../assets/team2.jpg"
      />
      <div class="ml-2 text-sm">
        <h5 class="text-gray-900 dark:text-white font-bold">Bahaa Aamer</h5>
        <p class="text-gray-400">bahaa_aamer</p>
      </div>
    </div>
    <a
      href="#"
      class="text-xs font-bold text-blue-400 px-4 py-1 rounded-full border-2 border-blue-400 hover:text-white hover:bg-blue-400"
      >Follow</a
    >
  </div>
  <div class="px-5 py-2 border-b border-gray-200 dark:border-dim-200">
    <div class="flex gap-x-4 animate-pulse">
      <div class="rounded-full bg-gray-400 h-12 w-12"></div>
      <div class="flex-1 space-y-2 py-1">
        <div class="h-4 bg-gray-400 rounded w-5/6"></div>
        <div class="h-4 bg-gray-400 rounded w-3/4"></div>
        <div class="h-4 bg-gray-400 rounded w-4/6"></div>
      </div>
    </div>
  </div>

  <div class="text-blue-400 px-3 py-2 cursor-pointer">Show more</div>
</div>
