<!-- logo -->
<a href="#" class="link-active my-2">
  <!-- <i class="fa-brands fa-x-twitter"></i> -->
  <i class="fa-brands fa-twitter text-4xl"></i>
</a>

<!-- nav -->
<nav class="mt-5">
  <a href="#" class="link-active mb-5">
    <i class="fa-solid fa-house text-xl"></i>
    <span class="icon">Home</span>
  </a>

  <a href="#" class="link mb-5">
    <i class="fa-solid fa-hashtag text-xl"></i>
    <span class="icon">Explore</span>
  </a>

  <a href="#" class="link mb-5">
    <i class="fa-solid fa-bell text-xl"></i>
    <span class="icon">Notifications</span>
  </a>
  <a href="#" class="link mb-5">
    <i class="fa-solid fa-envelope text-xl"></i>
    <span class="icon">Messages</span>
  </a>
  <a href="#" class="link mb-5">
    <i class="fa-solid fa-bookmark text-xl"></i>
    <span class="icon">Bookmarks</span>
  </a>

  <a href="#" class="link mb-5">
    <i class="fa-solid fa-list-ul text-xl"></i>
    <span class="icon">Lists</span>
  </a>

  <a href="#" class="link mb-5">
    <i class="fa-solid fa-user text-xl"></i>
    <span class="icon">Profile</span>
  </a>

  <a href="#" class="link mb-5">
    <i class="fa-solid fa-ellipsis text-xl"></i>
    <span class="icon">More</span>
  </a>
</nav>

<!-- btn -->
<a
  href="#"
  class="mx-auto w-11 h-11 xl:w-full flex items-center justify-center bg-blue-400 rounded-full text-white font-bold"
>
  <i class="fa-solid fa-feather text-xl block xl:hidden"></i>
  <span class="icon xl:ml-0">Tweet</span>
</a>

<!-- User -->
<div
  class="w-14 xl:w-full mx-auto mt-auto flex justify-between mb-2 rounded-full p-2 cursor-pointer"
>
  <img
    class="w-10 h-10 rounded-full object-cover"
    src="../../assets/team2.jpg"
    loading="lazy"
  />
  <div class="hidden xl:block">
    <h4 class="text-gray-800 dark:text-white font-bold text-sm">
      Bahaaa Aamer
    </h4>
    <p class="text-gray-400 text-sm">bahaa_aamer</p>
  </div>

  <i
    class="fa-solid fa-chevron-down text-xs hidden xl:block items-center xl:ml-4 text-gray-800 dark:text-white"
  >
  </i>
</div>
